[submodule "projects"]
	path = projects
	url = https://github.com/Polymer/projects.git
[submodule "toolkit-ui"]
	path = toolkit-ui
	url = https://github.com/Polymer/toolkit-ui.git
[submodule "polymer-ui-elements"]
	path = polymer-ui-elements
	url = https://github.com/Polymer/polymer-ui-elements
[submodule "polymer-elements"]
	path = polymer-elements
	url = https://github.com/Polymer/polymer-elements
[submodule "more-elements"]
	path = more-elements
	url = https://github.com/Polymer/more-elements.git
	branch = master
[submodule "polymer"]
	path = polymer
	url = https://github.com/Polymer/polymer.git
[submodule "platform"]
	path = platform
	url = https://github.com/Polymer/platform.git
[submodule "CustomElements"]
	path = CustomElements
	url = https://github.com/Polymer/CustomElements.git
[submodule "HTMLImports"]
	path = HTMLImports
	url = https://github.com/Polymer/HTMLImports.git
[submodule "mdv"]
	path = mdv
	url = https://github.com/Polymer/mdv.git
[submodule "ShadowDOM"]
	path = ShadowDOM
	url = https://github.com/Polymer/ShadowDOM.git
[submodule "PointerGestures"]
	path = PointerGestures
	url = https://github.com/Polymer/PointerGestures.git
[submodule "WebAnimations"]
	path = WebAnimations
	url = git://github.com/web-animations/web-animations-js.git
[submodule "PointerEvents"]
	path = PointerEvents
	url = https://github.com/Polymer/PointerEvents.git
